@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 100;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquare";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquare";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquare";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquare";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.ttf") format("truetype");
    font-display: swap;
}

.nanumSquare {
    font-family: "nanumSquare";
}

.nanumSquare300 {
    font-family: "nanumSquare";
    font-weight: 300;
}

.nanumSquare400 {
    font-family: "nanumSquare";
    font-weight: 400;
}

.nanumSquare700 {
    font-family: "nanumSquare";
    font-weight: 700;
}

.nanumSquare800 {
    font-family: "nanumSquare";
    font-weight: 800;
}

@font-face {
    font-family: 'gmarket';
    font-weight: 300;
    font-style: normal;
    src: url('https://websfont.github.io/gmarket/gmarket-Light.eot');
    src: url('https://websfont.github.io/gmarket/gmarket-Light.eot?#iefix') format('embedded-opentype'),
        url('https://websfont.github.io/gmarket/gmarket-Light.woff2') format('woff2'),
        url('https://websfont.github.io/gmarket/gmarket-Light.woff') format('woff'),
        url('https://websfont.github.io/gmarket/gmarket-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'gmarket';
    font-weight: 500;
    font-style: normal;
    src: url('https://websfont.github.io/gmarket/gmarket-Medium.eot');
    src: url('https://websfont.github.io/gmarket/gmarket-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://websfont.github.io/gmarket/gmarket-Medium.woff2') format('woff2'),
        url('https://websfont.github.io/gmarket/gmarket-Medium.woff') format('woff'),
        url('https://websfont.github.io/gmarket/gmarket-Medium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'gmarket';
    font-weight: 700;
    font-style: normal;
    src: url('https://websfont.github.io/gmarket/gmarket-Bold.eot');
    src: url('https://websfont.github.io/gmarket/gmarket-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://websfont.github.io/gmarket/gmarket-Bold.woff2') format('woff2'),
        url('https://websfont.github.io/gmarket/gmarket-Bold.woff') format('woff'),
        url('https://websfont.github.io/gmarket/gmarket-Bold.ttf') format("truetype");
    font-display: swap;
}