#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--white200);

    h1 {
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        padding: 30px;
    }

    h2 {
        padding: 10px;
        margin-left: 20px;
        font-size: 14px;
        color: var(--white400);
    }

    ul {
        text-align: center;

        li {
            padding: 10px;
            display: flex;
            align-items: center;
            margin-left: 10px;
            justify-content: space-between;

            .input-container {
                display: flex;
                align-items: center;
                width: 100%;
                
                input {
                    flex: 1;
                    padding: 0.5rem;
                    margin-right: 0.5rem;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                }

                button {
                    padding: 0.5rem 1rem;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }

            .button-container {
                display: flex;
                align-items: center;

                button {
                    margin-left: 0.5rem;
                    padding: 0.2rem 0.5rem;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }

            .icon2 {
                margin-right: 0.5rem;
            }
        }

        img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

        .add-button {
            padding: 0.5rem 1rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}
